body { 
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  margin: 20px 20px;
  /* font-family: 'Montserrat', Helvetica, sans-serif; */
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 13px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}


#hometext {
  /* margin: 20px 20px; */
  padding: 20px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Cabin', Arial, sans-serif;
  text-align: center;
  border-width: 0;
  
}

/* #about {
  margin-top: 30px;
} */

  h1 {
    font-size: 40px;
 
  }

 #about {
text-align: center;

 } 

  span {
     color: #ff0000;
     /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
     font-weight: bolder;
  }

  h4 {
    text-align: center;
    text-decoration: underline;
  }

.smedia {
  line-height: 1;

}

#projects {
  overflow: hidden;
  text-align: center
}

img {
  text-align: justify;
  width: auto;
  height: 80px
}

.content-link {
  height: 30px;
  align-content: center;
}






